* {
    margin: 0;
    padding: 0;
}

.class-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    gap: 20px;
    width: 95%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.class-card {
    border: 2px solid lightgray;
    border-radius: 10px;
    text-align: left;
    padding: 5px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.class-card h3, p {
    margin-left: 10px;
    margin-right: 10px;
}

.class-card hr {
    border-width: 0;
    height: 1px;
    background-color: lightgray;
}

.class-card-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.class-card-time {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.unselected-card {
    border: 2px solid lightgray;
    background-color: white;
    color: black;
}

.unselected-card:hover {
    border-color: rgb(116, 38, 150);
    cursor: pointer;
}

.unselected-card:active {
    background-color: rgb(116, 38, 150);
    color: white;
}

.selected-card {
    background-color: rgb(116, 38, 150);
    color: white;
    border-color: black;
}

.selected-card:hover {
    border-color: lightgray;
    cursor: pointer;
}

.selected-card:active {
    background-color: white;
    color: black;
}

.disabled-card {
    background-color: white;
    color: darkgray;
    border-color: lightgray;
    cursor: default;
}